@if (!string.IsNullOrEmpty(Icon))
{
    if (Icon.Length <= 2 || Icon.StartsWith("&"))
    {
        <span>@Icon</span>
    }
    else if(Icon == "EALOGO")
    {
        <img src="./../images/EA/EA_Logo.png"
        height="20"
        width="20" />
    }
    else
    {
        <img src="@Icon"
        height="20"
        width="20" />

    }
}
